<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <link rel="stylesheet" href="css/bulma.min.css">

    <script src="fa/fa.js" crossorigin="anonymous"></script>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        tr.fav {
            background-color: lightslategray;
            color: rgb(255, 255, 255);
        }
    </style>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <div id="app">

        <nav class="navbar is-light" role="navigation" aria-label="main navigation">

            <a class="navbar-item is-dark" @click="toggleHideBooks">

                <span v-if="hideBooks">Hide Books</span>
                <span v-else>Show Books</span>
            </a>


        </nav>

        <br>

        <div v-if="hideBooks" class="columns is-mobile is-centered ">
            <table class="table has-text-centered has-background-grey-light ">

                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Favorite</th>
                </tr>

                <tr v-for="book in books" :class="{ fav: book.isFav }" class="">
                    <td><a :href="book.url"><img :src="book.img" :alt="book.title"></a></td>
                    <td class="is-vcentered is-capitalized	">{{ book.title }}</td>
                    <td class="is-vcentered is-capitalized	">{{ book.author }}</td>

                    <td class="is-vcentered">
                        <i v-if="book.isFav" @click="toggleFav(book)" class="fas fa-star fa-2x"
                            style="color:yellow"></i>
                        <i v-else @click="toggleFav(book)" class="fas fa-star fa-2x" style="color:white"></i>

                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div v-if="filtredBooks" class="columns is-mobile is-centered ">
            <table class="table has-text-centered has-background-grey-light ">

                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Author</th>

                </tr>

                <tr v-for="book in filtredBooks" :class="{ fav: book.isFav }" class="">
                    <td><a :href="book.url"><img :src="book.img" :alt="book.title"></a></td>
                    <td class="is-vcentered is-capitalized	">{{ book.title }}</td>
                    <td class="is-vcentered is-capitalized	">{{ book.author }}</td>


                    </td>
                </tr>
            </table>
        </div>


    </div>


    <script src="app.js">

    </script>

</body>

</html>