<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <link rel="stylesheet" href="css/bulma.min.css">

    <script src="fa/fa.js" crossorigin="anonymous"></script>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        tr.fav {
            background-color: lightslategray;
            color: rgb(59, 59, 59);
        }
    </style>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <h1>
        Hello Vue
    </h1>

    <div id="app">



        <br>

        <div v-if="hideBooks">
            <table class="table has-text-centered has-background-grey-light ">
                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Favorite</th>
                </tr>
                <tr v-for="book in books" :class="{ fav: book.isFav }" class="">
                    <td><a :href="book.url"><img :src="book.img" :alt="book.title"></a></td>
                    <td class="is-vcentered">{{ book.title }}</td>
                    <td class="is-vcentered">{{ book.author }}</td>
                    <td @click="toggleFav(book)" class="is-vcentered"><i v-if="book.isFav" class="fas fa-star"
                            style="color:yellow"></i>
                        <i v-else class="fas fa-star" style="color:white"></i>

                    </td>
                </tr>
            </table>


        </div>
        <br>
        <button @click="toggleHideBooks($event)">
            <span v-if="hideBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <hr>
        <a :href="url">Google</a>
    </div>


    <script src="app.js">

    </script>

</body>

</html>